<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Cards - Učení angličtiny</title>
</head>
<body>
    <h1>Flash Cards - Učení angličtiny</h1>
    <div id="flashcard">
        <p id="word" style="font-size: 30px;">Klikni na "Další slovo" pro začátek</p>
    </div>
    <button onclick="getNextWord()">Další slovo</button>
    <button onclick="showTranslation()">Zobrazit překlad</button>

    <script>
        let currentWord = '';

        function getNextWord() {
            fetch('/get_word')
                .then(response => response.json())
                .then(data => {
                    currentWord = data.word;
                    document.getElementById('word').innerText = currentWord;
                });
        }

        function showTranslation() {
            fetch('/get_translation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ word: currentWord })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('word').innerText = `${currentWord} - ${data.translation}`;
            });
        }
    </script>
</body>
</html>
