* {
    box-sizing: border-box;

/* 
#379683 - zelena tmava
#5CDB95 - zelena stredni - POZADI 
#05386B - modra - TEXT V MENU? 
#8EE4AF - zelena svetla - 
#EDF5E1 - seda - spis do zluta

*/
}
body {
  margin: 0;
  background-color: #5CDB95;
}
p {
  line-height: 1.9;
  font-family: 'PT Serif', serif;
  font-size: 15px;
}
/* HEADER ---------------------------------------*/ 
.header img {
    background-image: url("cina27.jpg");/* pozadi hlavicky */
    text-align: center;
	border-radius: 10%;
    margin-left: 25%;
    margin-right: 25%;
	width: 50%;
	box-shadow: 0 4px 4px 0px #8EE4AF, 0 4px 4px 0px #8EE4AF;
  padding: 5px;
}

/* COLUMNS */
.column {
    float: left;
    padding: 10px;
}
/* Left and right column */
.column.side {
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #f1f1f1;
    color: black;
    margin-top: 45px;
    margin-bottom: 15px;
    border: solid 25px #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 6px 6px 0px #5B5451, 0 6px 20px 3px #5B5451;
}
.column.side p {
    padding: 25px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 5px;
}
.column.side h2 {
    background-color: #5CDB95;
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #05386B;
    border-radius: 15px;
}

/* Middle column */
.column.middle {
    width: 38%;
    background-color: #f1f1f1 ;
    float: left;
    margin-top: 45px;
    margin-bottom: 15px;
   border: solid 25px #f1f1f1 ;
   border-radius: 10px;
   padding:1px;
    box-shadow: 0 6px 6px 0px #5B5451, 0 6px 20px 3px #5B5451;
    color: black;
}
.column.middle img {
 width: 100%;
 height: 100%;
 border-radius: 12px;
 border: 1px solid #C0C0C0 ;
 margin-top: 25px;
}
.column.middle a { 

  text-decoration: none;
  padding: 5px;
    color: #05386B;
    border-radius: 3px;
}
.column.middle h1 {
    background-color:#379683;
    font-size: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #f1f1f1;
    margin-left: 0%;
    margin-right: 0%;
     border-radius: 15px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column.middle h2 {
    background-color: #5CDB95;
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #05386B;
    border-radius: 15px;
   
}
.column.middle a:hover {
    color: black;
      background-color: #5CDB95;
}
.row {
  background-color:  #5CDB95 ;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 35px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 90%;
        margin: 20px;
    }
    img {
     display: none;
 }
  .row1 {
    display: none;
  }
  .menu {

  }
}


@media only screen and (max-width: 480px) {
    .column.side, .column.middle {
        width: 90%;
        margin: 20px;
    }
    img {
     display: none;
 }
  .row1 {
    display: none;
  }
  .menu {
    
  }
}


